#travel-text{
    color: #131318;
    font-family: Mulish;
    font-size: 36px;
    font-weight: 800;
}
#span-text{
    color: #FF5400;
    font-family: Mulish;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
#home-text{
    color: #FF5400;
    text-align: center;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.list{
    color: var(--Dark-02, #424247);
    font-family: Mulish;
    font-size: 18px;
    font-weight: 400;
    margin-top: 50px;
    
}
nav ul{
    display: flex;
    gap: 30px;
    float: right;
    list-style: none;
    
    
}
.first-div{
    display: flex;
    margin-top: 50px;
    gap: 16px;
    margin-left: 100px;
}
#logo{
    width: 50px;
}
.bg-image{
    background-image: url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    width: 90%;
    height: 500px;
    background-position: center;
    background-size: cover;
    margin: 30px auto;
    border-radius: 16px;
}
#description{
    color: #FFF;
    font-family: Mulish;
    font-size: 64px;
    font-weight: 800;
    text-align: center;
    padding-top: 106px;
}
#description-text{
    width: 676px;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-left: 500px;
}
#where-go{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    border-style: none;
    color: rgba(19, 19, 24, 0.50);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
}
#when{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    border-style: none;
    color: rgba(19, 19, 24, 0.50);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
}
#select-type{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    border-style: none;
    color: rgba(19, 19, 24, 0.50);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
}
.input{
    padding-left: 500px;
}
#find-btn{
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 700;
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    border-style: none;
}
#items{
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
    display: flex;
    margin-left: 95px;
}
#read-btn{
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 800;
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    border-style: none;
    margin-left: 95px;
}
.li-items{
    margin-left: 75px;
}
#text-des{
    margin-left: 100px;
}
#text-des-2{
    margin-left: 100px;
}
#img-2{
    width: 540px;
height: 550px;
border-radius: 16px;
display: flex;
margin-left: 460px;
}
#choose-text{
    color: #131318;
text-align: center;
font-family: Mulish;
font-size: 40px;
font-weight: 800;
}
#destination-choose{
    width: 643px;
    color: rgba(19, 19, 24, 0.70);
text-align: center;
font-family: Mulish;
font-size: 16px;
font-weight: 400;
line-height: 26px;
margin-left: 600px;
}
.container{
    display: flex;
}
.sub-class1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 70%;
    margin: 30px auto;
}
.sub-class2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 70%;
    margin: 30px auto;
    gap: 52px;
}
.sub-class3{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 70%;
    margin: 30px auto;
}
.imgs-1{
    width: 573px;
height: 300px;
flex-shrink: 0;
border-radius: 16px;
}
.imgs-2{
    width: 573px;
height: 300px;
flex-shrink: 0;
}
.imgs-3{
    width: 374px;
height: 286px;
flex-shrink: 0;
border-radius: 16px;
}

.imgs-4{
    width: 474px;
height: 286px;
flex-shrink: 0;
}
.imgs-5{
    width: 274px;
height: 286px;
flex-shrink: 0;
}
.imgs-6{
    width: 473px;
height: 300px;
flex-shrink: 0;
}
.imgs-7{
    width: 673px;
height: 300px;
flex-shrink: 0;
margin-right: 90px;
}
#main-text{
    color: #131318;
font-family: Mulish;
font-size: 40px;
font-weight: 800;
text-align: center;
}
#para{
    width: 643px;
    color: rgba(19, 19, 24, 0.70);
font-family: Mulish;
font-size: 16px;
font-weight: 400;
line-height: 26px;
text-align: center;
margin-left: 580px;
}
.desined{
    display: flex;
    gap: 115px;
}
.first-text{
    width: 573px;
height: 284px;
flex-shrink: 0;
border-radius: 16px;
border: 1px solid rgba(251, 181, 99, 0.20);
background: rgba(251, 181, 99, 0.05);
margin-left: 255px;
}
#hotel-img{ 
    padding: 20px;
}
.second-text{
    width: 573px;
height: 284px;
flex-shrink: 0;
border-radius: 16px;
border: 1px solid rgba(41, 206, 246, 0.20);
background: rgba(41, 206, 246, 0.05);
}
#map-img{
    padding: 20px;
}
#text-3{
    color: #131318;
font-family: Mulish;
font-size: 24px;
font-style: normal;
font-weight: 800;
line-height: normal;
padding-left: 20px;
}
#para-2{
    color: #5A5A5D;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;
padding-left: 20px;
}
#text-4{
    color: #131318;
font-family: Mulish;
font-size: 24px;
font-style: normal;
font-weight: 800;
line-height: normal;
padding-left: 20px;
}
#para-3{
    width: 486px;
    color: #5A5A5D;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
padding-left: 20px;
}
.third{
    width: 573px;
height: 284px;
flex-shrink: 0;
border-radius: 16px;
border: 1px solid rgba(233, 68, 68, 0.20);
background: rgba(233, 68, 68, 0.05);
margin-left: 560px;
margin-top: 30px;
}
#tag-img{
    padding: 20px;
}
#text-5{
    color: #131318;
font-family: Mulish;
font-size: 24px;
font-style: normal;
font-weight: 800;
line-height: normal;
padding-left: 20px;
}
#para-4{
    width: 486px;
    color: #5A5A5D;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;
padding-left: 20px;
}
.news{
    width: 474px;
    height: 422px;
background: #FFF;
border-radius: 16px;
border: 1px solid #FF5400;
margin-left: 250px;
margin-top: 50px;
}
#enter-name{
    width: 393px;
height: 52px;
flex-shrink: 0;
border-radius: 8px;
background: rgba(19, 19, 24, 0.05);
border-style: none;
margin-left: 20px;
}
#enter-email{
    width: 393px;
height: 52px;
flex-shrink: 0;
border-radius: 8px;
background: rgba(19, 19, 24, 0.05);
border-style: none;
margin-left: 20px;
margin-top: 20px;
}
#letter{
    color: #131318;
font-family: Mulish;
font-size: 24px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-left: 20px;
}
#daily-dose{
    width: 350px;
    color: #5A5A5D;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;
margin-left: 20px;
}
#btn{
    width: 393px;
height: 52px;
border-radius: 8px;
background: #FF5400;
color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 20px;
font-weight: 800;
border-style: none;
margin-top: 20px;
margin-left: 20px;
}
.img-8{
    width: 672px;
height: 422px;
flex-shrink: 0;
border-radius: 16px;
background: url('../Images/Rectangle\ 8\ \(1\).png'), lightgray 50% / cover no-repeat;
margin-left: 120px;
margin-top: 50px;

}
.sec{
    display: flex;
}
.save-text{
    width: 324px;
height: 120px;
flex-shrink: 0;
border-radius: 16px;
background: #FF5400;
width: 324px;
height: 120px;
transform: rotate(-19.628deg);
margin-left: 340px;
margin-top: 250px;
}
#trave-com{
    color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-top: 20px;

}
#save-up{
    
    color: #FFF;
font-family: Mulish;
font-size: 32px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-left: 50px;
margin-top: 20px;
}
/* footer */
footer{
    width: 100%;
    background: rgba(19, 19, 24, 0.05);
    padding-bottom: 150px;
    margin-top: 100px;
}
.footer-img{
    display: flex;
    gap: 15px;
    margin-left: 760px;
    padding-top: 100px;
    
}
.footer-content img{
    width: 40px;
    height: 46.673px;
    margin-top: 20px;
    
}
.footer-content h2{
    color: #131318;
    font-size: 2rem;
    font-weight: 800;
}
.footer-content h2 span{
    color: #FF5400;
}
.footer-content p{
    width: 800px;
    text-align: center;
    margin: 25px auto;
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}
.footer-icn{
    width: 174.322px;
    height: 24px;
    margin-top: 30px;
    margin-left: 875px;
}
footer hr{
    width: 900px;
    height: 1px;
    background: rgba(19, 19, 24, 0.10);
    margin: 40px auto;
}
footer p{
    color: #131318;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    padding-top: 30px;
}
